<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>user1::list</title>
  </head>
  <body>
    <h3>User1 목록</h3>
    <a href="/user1/register">User1 등록</a>
    <table border="1">
      <tr>
        <th>아이디</th>
        <th>이름</th>
        <th>휴대폰</th>
        <th>나이</th>
        <th>관리</th>
      </tr>
      <% for(const user of users) {%>
      <tr>
        <td><%= user.uid %></td>
        <td><%= user.name %></td>
        <td><%= user.hp %></td>
        <td><%= user.age %></td>
        <td>
          <a href="/user1/modify?_id=<%= user._id %>">수정</a>
          <a href="#">삭제</a>
        </td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
